body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
header {
    background: linear-gradient( red, orange, yellow, green, #81d4fa, darkblue, purple);
    color: lightgreen;
    font-size: 16pt; 
}
header:hover{
    color: white;
    background: linear-gradient(white, blue, red);
    font-size: 10pt;
}
header:active{
    color: white;
    background: red;
    font-size: 30pt;
}

main {
    margin: 10px 20px;
}
footer {
    background: linear-gradient( red, orange, yellow, green, #81d4fa, darkblue, purple);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    text-align: right;
}
footer:hover{
    color: white;
    background: linear-gradient(white, blue, red);
    font-size: 40pt
}
footer:active{
    color: blueviolet;
    background: white;
    font-size: 40pt
}
a {
    transition: all 0.6s ease;
    text-decoration: none; 
    color: green;
}
a:visited {
    color: yellow;
    background-color: green;
}
a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    transition: all 0.3s ease;
    text-shadow: 4px 3px 2px blueviolet;
}
a:active {
    color: pink;
    background-color: green;
}

/*header {
    background-color: black; 
    color: lightgreen; 
    padding: 20px; 
    font-size: 16pt
}*/
/*footer {
    background-color: black ; 
    color: lightgreen; 
    font-size: 16pt; 
    padding: 10px;
    font-style: italic;text-align: right;
}*/
